.itemCountContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 10px;
    margin: 10px;
    
}

.contenedor-botones{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid thin;
    border-color: gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
}

.buttons{
    width: 40px;
    height: 30px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(179, 39, 104);;
    background-color: white;
    border: none;
    
}

.contador{
   font-size: 20px;
   font-weight: 500;
}

.agregaCarrito{
   width: 200px;
   height: 30px;
   color:rgb(179, 39, 104);;
   border: solid thin;
   border-color: rgb(179, 39, 104);;
   background-color: white;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   
}