.container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: black solid;
    box-shadow: 0px 0px 4px 1px;
}

.logo-solma{
    width: 200px;
}

h1 {
    font-weight: 200;
    font-size: 20px;
}

.cart-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
}

.cart{
    width: 2rem;
    height: 2rem;
}

.categorias{
    text-decoration: none;
    color: black;
    font-size: 18px
}
.categorias:hover{
    font-weight: 500;
    border-bottom: rgb(179, 39, 104) solid;
}


nav{
   display: flex;
   column-gap: 30px;
}

span{
    font-weight: 600;
    color: rgb(179, 39, 104);
}